body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #1DB954;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1ED760;
  }
  
  #visualization {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  #artists-container, #tracks-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px 0;
  }
  
  .circle {
    fill: #1DB954;
    stroke: white;
    stroke-width: 2;
  }
  